body {
  margin: 0;
  padding: 0;
}

#container {
  font-family: 'Source Code Pro', monospace;
  width: 1200px;
  height: 800px;
  display: flex;
}

#screen-left {
  height: 800px;
  width: 300px;
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#click-area {
  height: 200px;
  width: 300px;
  background-color: #60A8F5;
  display: flex;
  align-items: center;
  justify-content: center;
}

#clicker {
  width: 100px;
  height: 100px;
  box-shadow: 5px 5px 5px #0063A9;
}

#clicker:active {
  box-shadow: none;
}

#market {
  height: 600px;
  width: 300px;
}

.market-structures {
  height: 400px;
  width: 300px;
  background-color: #A2ACBD;
  overflow-y: scroll;
}

.market-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  padding: 0px 5px;
  text-align: center;
  box-shadow: 0px -2px 1px #3E4756;
}

.market-item:hover {
  box-shadow: inset 0px 0px 10px #DEF;
}

.market-item > div {
  width: 20%;
}

.market-item > div > img {
  max-width: 70%;
  height: 40px;
}

.market-item-desc {
  width: 60%;
  text-align: left;
  margin-right: 80px;
}

.market-item-desc > p {
  margin-bottom: 5px;
  margin-top: -4px;
}

.market-item > span {
  width: 20%;
}

.market-upgrades {
  height: 200px;
  width: 300px;
  background-color: #3E4756;
  overflow-y: scroll;
}

.market-upgrades > img {
  margin: 10px 10px;
  width: 50px;
  height: 50px;
}

#screen-right {
  height: 800px;
  width: 900px;
}

#structures {
  height: 600px;
  width: 900px;
  overflow-y: scroll;
}

#structures div {
  height: 150px;
  padding-left: 30px;
  overflow-x: scroll;
  display: flex;
  justify-content: baseline;
  align-items: center;
  box-shadow: inset 0px 0px 20px white;
}

.structures-toaster {
  background-image: url('../assets/imgs/bg/cropWeave.jpg');
  background-size: 900px 150px;
  background-position: left;
}

.structures-mobile {
  background-image: url('../assets/imgs/bg/cropWindowDiagonal.jpg');
  background-size: 900px 150px;
  background-position: left;
}

.structures-computer {
  background-image: url('../assets/imgs/bg/cropGlass.jpg');
  background-size: 900px 150px;
  background-position: left;
}

.structures-server {
  background-image: url('../assets/imgs/bg/cropSquares.jpg');
  background-size: 900px 150px;
  background-position: left;
}

.structures-supercomputer {
  background-image: url('../assets/imgs/bg/cropRocks.jpg');
  background-size: 900px 150px;
  background-position: left;
}

.structures-quantum {
  background-image: url('../assets/imgs/bg/cropMetal.jpg');
  background-size: 900px 150px;
  background-position: left;
}

#structures div img {
  margin: 5px 10px 5px 0;
  height: 100px;
}

#terminal {
  display: flex;
  justify-content: baseline;
  align-items: center;
  height: 200px;
  width: 900px;
  font-size: 2rem;
  background-color: gainsboro;
}

#terminal p {
  display: inline-block;
  margin-left: 30px;
  border-bottom: 3px solid black;
}

#terminal span {
  border-bottom: 3px solid black;
}