body {
  margin: 0;
  padding: 0;
}

#container {
  width: 1200px;
  height: 800px;
  border: 1px solid black;
  display: flex;
}

#screen-left {
  height: 800px;
  width: 300px;
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#click-area {
  height: 200px;
  width: 300px;
  background-color: maroon;
  display: flex;
  align-items: center;
  justify-content: center;
}

#clicker {
  width: 100px;
  height: 100px;
}

#market {
  height: 600px;
  width: 300px;
}

.market-structures {
  height: 400px;
  width: 300px;
  background-color: orange;
  overflow-y: scroll;
}

.market-upgrades {
  height: 200px;
  width: 300px;
  background-color: green;
  overflow-y: scroll;
}

.market-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  padding: 0px 5px;
  text-align: center;
  border-bottom: 1px solid black;
}

.market-item > div {
  width: 20%;
}

.market-item > div > img {
  max-width: 70%;
  height: 40px;
}

.market-item-desc {
  width: 60%;
  text-align: left;
}

.market-item-desc > p {
  margin-bottom: 5px;
  margin-top: -4px;
}

.market-item > span {
  width: 20%;
}

#screen-right {
  height: 800px;
  width: 900px;
}

#structures {
  height: 600px;
  width: 900px;
  overflow-y: scroll;
}

#structures div {
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: baseline;
  align-items: center;
}

#structures div img {
  margin: 5px 5px;
  height: 100px;
}

#terminal {
  height: 200px;
  width: 900px;
  background-color: gainsboro;
}