body {
  margin: 0;
  padding: 0;
}

#container {
  width: 1200px;
  height: 800px;
  border: 1px solid black;
  display: flex;
}

#screen-left {
  height: 800px;
  width: 300px;
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#click-area {
  height: 200px;
  width: 300px;
  background-color: maroon;
  display: flex;
  align-items: center;
  justify-content: center;
}

#clicker {
  width: 100px;
  height: 100px;
}

#market {
  height: 600px;
  width: 300px;
}

.market-structures {
  height: 400px;
  width: 300px;
  background-color: orange;
  overflow-y: scroll;
}

.market-upgrades {
  height: 200px;
  width: 300px;
  background-color: green;
  overflow-y: scroll;
}

.market-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid black;
}

#screen-right {
  height: 800px;
  width: 900px;
  background-color: purple;
}

#programs {
  height: 200px;
  width: 900px;
  background-color: blue;
}
#hardware {
  height: 200px;
  width: 900px;
  background-color: blueviolet;
}
#structures {
  height: 200px;
  width: 900px;
  background-color: aquamarine;
}
#terminal {
  height: 200px;
  width: 900px;
  background-color: gainsboro;
}